###
#CNOID_CMD="/usr/local/bin/choreonoid"

###
USE_AGX="yes" # yes or no
USE_RTM="yes" # yes or no
USE_OMNINAMES="yes" # yes or no
USE_ROS="no" # yes or no

###
T1_PROJ_FILE="${HOME}/wrs2018/T1.cnoid"
T2_PROJ_FILE="${HOME}/wrs2018/T2.cnoid"
T3_PROJ_FILE="${HOME}/wrs2018/T3.cnoid"
T4_PROJ_FILE="${HOME}/wrs2018/T4.cnoid"
T5_PROJ_FILE="${HOME}/wrs2018/T5.cnoid"
T6_PROJ_FILE="${HOME}/wrs2018/T6.cnoid"
