###
#CNOID_CMD="/usr/local/bin/choreonoid"

###
USE_AGX="yes" # yes or no
USE_RTM="no" # yes or no
USE_OMNINAMES="no" # yes or no
USE_ROS="yes" # yes or no

###
T1_PROJ_FILE="${HOME}/WRS2018/T1.cnoid"
T2_PROJ_FILE="${HOME}/wrs2018/T2.cnoid"
T3_PROJ_FILE="${HOME}/wrs2018/T3.cnoid"
T4_PROJ_FILE="${HOME}/wrs2018/T4.cnoid"
T5_PROJ_FILE="${HOME}/wrs2018/T5.cnoid"
T6_PROJ_FILE="${HOME}/wrs2018/T6.cnoid"
#
TS1_PROJ_FILE="${HOME}/wrs2019/TS1.py"
TS2_PROJ_FILE="${HOME}/wrs2019/TS2.py"
TS3_PROJ_FILE="${HOME}/wrs2019/TS3.py"
TS4_PROJ_FILE="${HOME}/wrs2019/TS4.py"
#
SG1L_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG1L-DoubleArmV7A.py"
SG1M_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG1M-AizuSpiderSA.py"
#SG1M_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG1M-DoubleArmV7A.py"
#SG1M_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG1M-Quadcopter.py"
#SG2_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG2-AizuSpiderSA.py"
SG2_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG2-DoubleArmV7A.py"
#SG2_PROJ_FILE="/home/wrs/catkin_ws/build/choreonoid/share/choreonoid-1.8/WRS2020SG/script/SG2-Quadcopter.py"
