[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=WRS;Application;
Name=SG1M
GenericName=SG1M
Icon=choreonoid.png
Path=/home/wrs/.wrs/launcher/task/SG1M
Exec=/home/wrs/.wrs/launcher/task/SG1M/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
