[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=WRS;Application;
Name=T1_2
GenericName=T1_2
Icon=choreonoid.png
Path=/home/wrs/.wrs/launcher/task/T1_2
Exec=/home/wrs/.wrs/launcher/task/T1_2/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
