[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=WRS;Application;
Name=T3.sample
GenericName=T3
Icon=choreonoid.png
Path=/home/wrs/.wrs/launcher/T3
Exec=/home/wrs/.wrs/launcher/T3/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
