[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=WRS;Application;
Name=TS2
GenericName=TS2
Icon=choreonoid.png
Path=/home/wrs/.wrs/launcher/task/TS2
Exec=/home/wrs/.wrs/launcher/task/TS2/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
