[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=WRS;Application;
Name=CS.T2.Quadcopter.ROS
GenericName=CS.T2.Quadcopter.ROS
Icon=choreonoid.png
Path=/home/wrs/.wrs/launcher/CS.T2.Quadcopter.ROS
Exec=/home/wrs/.wrs/launcher/CS.T2.Quadcopter.ROS/10main.sh
Terminal=false
StartupNotify=true
StartupWMClass=
OnlyShowIn=Unity;
X-UnitGenerated=true
